@import "antd/dist/antd.css";
@import "react-toastify/dist/ReactToastify.css";
@import "boxicons";
@import "codemirror/lib/codemirror.css";

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
    background-color: #e5e5e5;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.ant-input-group-addon {
    border: none;
    border-radius: 5px;
    background-color: #fafafa;
}
.ant-input {
    /* border: none; */
}
.ant-btn {
    color: darkslategray;
    font-weight: bold;
    border-color: none;
    height: auto;
    padding: auto;
    border: none;
    border-radius: 0 5px 5px 0;
}

.ant-btn:hover {
    background-color: #bfbfbf;
}
